{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        
        <div class="col-md-4 col-md-offset-4">
            <h1>Health and Safety Portal: Login</h1>
            <form method=POST action="{{ url_for('login') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p>{{msg}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <br>
            <div>
                Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}

